* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face
{
font-family: RedAlert;
src: url(RedAlert.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
}


.wrapper {
    background:url(../img/raster2.png);
	/* opacity:0.5; */
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 0;
}

/* Text */

h1,
h2 {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

p {
    line-height: 1.4;
    text-shadow: 1px 1px 1px #000;
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #40a5c6;
}

h1 a,
h1 a:hover,
h1 a:visited {
    text-decoration: none;
}

p a {
    font-weight: 700;
}

/* Header */

header {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    color: #fff;
	/*background:url(../img/raster.png);
     */background: /*rgba(255,51,51,0.5);*/  rgba(50,0,50,0.5); 
    padding: 60px;
    width: 400px;
    /*height: 300px;*/
    border-radius: 50%;
    margin: -200px 0 0 -200px;
    text-align: center;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
}

header h1 {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 10px 0;
    font-size: 1.7em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

header h1 span {
    font-weight: 300;
}

header p {
    font-family: RedAlert, Cambria, Georgia, serif;
    font-size: 10pt;
	text-transform: uppercase;
}

/* Video Pages */

.screen {
    position: relative;
    height: 100%;
    width: 20%; /*  NOTE: numVideos/100%  */;
    float: left;
    overflow: hidden;
}

.big-image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.info-box {
	position:fixed;
	top:5px;
	right:5px;
    top: 15%;
    right: 15%;
	font-family: RedAlert;
	color: #FFFFFF; /* rgba(255,51,51,0.5); */
    margin: 0 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 10pt;
    text-transform: uppercase;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

h1.info-box {
	position:fixed;
	top:5px;
	right:5px;
	background: rgba(50,0,50,0.5);
	padding: 5px;
}

/* Nav */

nav {
    position: absolute;
    right: 5%;
    top: 45%;
    padding: 20px;
    background: #000;
    border-radius: 40px;
    opacity: .4;
    cursor: pointer;
    z-index: 1000;
}

nav:hover {
    opacity: .6;
}

